doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Estimate
a.btn.btn-info(href='/' role='button') Home

ul 
    for vals in queryEstimate
        each val, key in vals
            li= key + val