doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='js/jquery-1.11.0.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/wow.min.js')

  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/styles.css')
  title FEMA Staff
a.btn.btn-info(href='/' role='button') Home
a.btn.btn-primary(href='/createrecord' role='button', id = 'createRecord') Create Record
a.btn.btn-secondary(href='/searchid' role='button', id = 'viewEditDelete') View/Edit/Delete Record
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
