doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/styles.css' type='text/css')
  title Owner
a.btn.btn-info(href='/' role='button') Home
.d-flex.justify-content-center
  #something.overflow-auto
    form(method='POST' action='/getEstimate')
      div
        h1 Owner Information
      .form-group
        label(for='exampleFormControlSelect1')
          | Is the building you are trying to insure your primary
          | residence?
        select#primaryResidenceIndicator.form-control(name='primaryResidenceIndicator' required)
          option(value='' selected) Please Select an Option 
          option(value='1') Yes
          option(value='0') No
      .form-group
        label(for='exampleFormControlSelect1') Are you a small business entity?
        select#smallBusinessIndicatorBuilding.form-control(name='smallBusinessIndicatorBuilding' required)
          option(value='' selected) Please Select an Option 
          option(value='1') Yes
          option(value='0') No
      .form-group
        label(for='exampleFormControlSelect1') Are you non-profit?
        select#nonProfitIndicator.form-control(name='nonProfitIndicator' required)
          option(value='' selected) Please Select an Option 
          option(value='1') Yes
          option(value='0') No
      div
        h1 Building Information
      .form-group
        label(for='exampleFormControlSelect1') Is your building an agricultural structure?
        div
          h6
            | *Basement is defined for purposes of the NFIP as any level or story which has its floor subgrade on all
            | sides
        select#agricultureStructureIndicator.form-control(name='agricultureStructureIndicator')
          option(value='' selected) Please Select an Option 
          option(value='1') Yes
          option(value='0') No
      .form-group
        label(for='exampleFormControlSelect2') Define the type of enclosure crawl space:
        select#basementEnclosureCrawlspace.form-control(name='basementEnclosureCrawlspace')
          option(value='' selected) Please Select an Option 
          option(value='0') 0 - None
          option(value='1') 1 - Finished Basement/Enclosure
          option(value='2') 2 - Unfinished Basement/Enclosure
          option(value='3') 3 - Crawlspace
          option(value='4') 4 - Subgrade Crawlspace
      .form-group
        label(for='exampleFormControlSelect2') Define if the building is a condominimum, if so what type?
        select#condominiumIndicator.form-control(name='condominiumIndicator')
          option(value='' selected) Please Select an Option 
          option(value='N') N - Not a condominium
          option(value='U') U - single unit condominium
          option(value='A') A - Condominium not eligible under CMP policy
          option(value='H') H - Hight Rise
          option(value='L') L - Low Rise
          option(value='T') T - Townhouse
      .form-group
        label(for='exampleFormControlSelect1') Is this building under construction?
        select#construction.form-control(name='construction')
          option(value='' selected) Please Select an Option 
          option(value='1') Yes
          option(value='0') No
      .form-group
        label(for='exampleFormControlSelect1')
          | Does the building meet the NFIP definition of an elevated
          | building?
        div
          h6
            | *An elevated building is a no-basement building that was constructed so as to meet the following
            | criteria: 1. The top of the elevated floor (all A zones) or the bottom of the lowest horizontal structural
            | member of the lowest floor (all V zones) is above ground level; 2. The building is adequately anchored; 3.
            | The method of elevation is pilings, columns (posts and piers), shear walls (not in V zones), or solid
            | foundation perimeter walls (not in V zones);
        select#elevationBuildingIndicator.form-control(name='elevationBuildingIndicator')
          option(value='' selected) Please Select an Option 
          option(value='1') Yes
          option(value='0') No
      .form-group
        label(for='exampleFormControlInput1')
          | What is the base flood depth given to your from your elevation
          | certificate?
        input#elevationDifference.form-control(type='text' placeholder='' name='elevationDifference')
        label(for='exampleFormControlSelect2')
          | Code that indicates where within the structure the contents are
          | located
        select#locationOfContents.form-control(name='locationOfContents')
          option(value='' selected) Please Select an Option 
          option(value='1') 1 - Basement/Enclosure/Crawlspace/Subgrade Crawlspace only
          option(value='2') 2 - Basement/Enclosure/Crawlspace/Subgrade Crawlspace and above
          option(value='3')
            | 3 - Lowest floor only above ground level (No basement/enclosure/crawlspace/subgrade crawlspace)
          option(value='4')
            | 4 - Lowest floor above ground level and higher floors (No basement/enclosure/crawlspace/subgrade
            | crawlspace)
          option(value='5') 5 - Above ground level more than one full floor
          option(value='6') 6 - Manufactured (mobile) home or travel trailer on foundation
      .form-group
        label(for='exampleFormControlInput1')
          | What is the lowest natural grade adjacent to the insured structure
          | prior
          | to excavating or filling?
        div
          h6
            | *The difference in feet of the lowest natural grade adjacent to the building from the reference level
            | of
            | the building
        input#lowestAdjacentGrade.form-control(type='text' placeholder='' name='lowestAdjacentGrade')
      .form-group
        label(for='exampleFormControlInput1')
          | What is the elevation in feet of the reference level of the building
          | from the elevation certificate?
        div
          h6
            | *A building&apos;s lowest floor is the floor or level (including basement/enclosure/crawlspace/subgrade
            | crawlspace) that is used as the point of reference when rating a building. This includes the level to
            | which a building is floodproofed*. The elevation in feet of the reference level of the building from the
            | elevation certificate
        input#lowestFloorElevation.form-control(type='text' placeholder='' name='lowestFloorElevation' )
      .form-group
        label(for='exampleFormControlSelect2') What are the number of floors in your structure?
        select#numberOfFloorsInTheInsuredBuilding.form-control(name='numberOfFloorsInTheInsuredBuilding')
          option(value='' selected) Please Select an Option 
          option(value='1') 1 - One floor
          option(value='2') 2 - Two floors
          option(value='3') 3 - Three or more floors
          option(value='4') 4 - Split-level
          option(value='5') 5 - Manufactured (mobile) home or travel trailer on foundation
          option(value='6') 6 - Townhouse/Rowhouse with three or more floors (RCBAP Low-rise only)
      .form-group
        label(for='exampleFormControlSelect2') What type of obstructions are present in your building?
        select#obstructionType.form-control(name='obstructionType')
          option(value='' selected) Please Select an Option 
          option(value='10') 10 - Elevation of machinery/equipment is at or above Base Flood Elevation
          option(value='15') 15 - Enclosure/crawlspace with proper openings not used for rating (not applicable in V zones)
          option(value='20') 20 - With obstruction: less than 300 sq. ft. with breakaway walls, but no machinery or equipment attached to building below lowest elevated floor, or elevation of machinery/equipment is at or above Base Flood Elevation
          option(value='24') 24 - With obstruction: less than 300 sq. ft. with breakaway walls or finished enclosure and with machinery or equipment attached to building below lowest elevated floor, and elevation of machinery/equipment is below Base Flood Elevation
          option(value='30') 30 - With obstruction: 300 sq. ft. or more with breakaway walls, but no machinery or equipment attached to building below the Base Flood Elevation
          option(value='34') 34 - With obstruction: 300 sq. ft. or more with breakaway walls or finished enclosure and with machinery or equipment attached to building below the Base Flood Elevation
          option(value='40') 40 - With obstruction: no walls, but the elevation of machinery or equipment attached to building is below Base Flood Elevation (NOTE: Use Obstruction Type '10' and Without Obstruction Rate Table if the elevation of machinery/equipment is at or above Base Flood Elevation.) 
          option(value='50') 50 - With obstruction: nonbreakaway walls/crawlspace or finished enclosure with no machinery or equipment attached to building below lowest elevated floor
          option(value='54') 54 - With obstruction: nonbreakaway walls/crawlspace or finished enclosure with machinery or equipment attached to building below lowest elevated floor
          option(value='60') 60 - With obstruction 
          option(value='70') 70 - With Certification subgrade crawlspace (AE, A01-A30, unnumbered A, AO, AH, AOB, AHB zones)
          option(value='80') 80 - Without Certification subgrade crawlspace (all zones) 
          option(value='90') 90 - With Enclosure: Elevated buildings with elevator below the BFE in A zones. No other enclosure below the BFE.
          option(value='91') 91 - Free of Obstruction: Elevated buildings with lattice, slats, or shutters (including louvers) enclosing the elevator below the BFE in V zones. No other obstruction or machinery and equipment (M and E) servicing the building located below the BFE. The building will be rated free of obstruction with the V zone elevator loading added to the building basic limit.
          option(value='92') 92 - With Enclosure: Elevated buildings with elevator below the BFE in A zones. Enclosure below the BFE has no proper openings, is finished, or is used for other than parking, building access, or storage.
          option(value='94') 94 - With Obstruction: Elevated buildings with elevator below the BFE in V zones. No other obstruction or machinery and equipment (M and E) servicing the building located below the BFE. 
          option(value='95') 95 - With Obstruction: Elevated buildings with elevator below the BFE in V zones. Breakaway wall obstruction is unfinished and elevator and obstruction are located below the BFE, but no machinery and equipment (M and E) servicing the building is located below the BFE.
          option(value='96') 96 - With Obstruction: Elevated buildings with elevator below the BFE in V zones. Breakaway wall obstruction is finished or is used for other than parking, building access, or storage.
          option(value='97') 97 - With Obstruction: Elevated buildings with elevator below the BFE in V zones. No other obstruction, but has M and E servicing the building located below the BFE.
          option(value='98') 98 - With Obstruction: Elevated buildings with elevator below the BFE in V zones. Breakaway walls obstruction and M and E servicing the building are located below the BFE
      .form-group
        label(for='exampleFormControlSelect2') What is the type of occupancy of the insured structure?
        select#occupancyType.form-control(name='occupancyType')
          option(value='' selected) Please Select an Option 
          option(value='1') 1 - Single family residence
          option(value='2') 2 - 2 to 4 unit residential building
          option(value='3') 3 - Residential building with more than 4 units
          option(value='4') 4 - Non-residential building
          option(value='6') 6 - Non-Residential Business
          option(value='11') 11 - Single-family residential building with the exception of a mobile home or a single residential unit within a multi unit building
          option(value='12') 12 - A residential non-condo building with 2, 3, or 4 units seeking insurance on all units
          option(value='13') 13 - A residential non-condo building with 5 or more units seeking insurance on all units
          option(value='14') 14 - Residential mobile/manufactured home
          option(value='15') 15 - Residential condo association seeking coverage on a building with one or more units
          option(value='16') 16 - Single residential unit within a multi-unit building
          option(value='17') 17 - Non-residential mobile/manufactured home
          option(value='18') 18 - A non-residential building
          option(value='19') 19 - A non-residential unit within a multi-unit building
      .form-group
        label(for='exampleFormControlSelect1') Did your building construction date start on or before the publication of the FIRM?
        div
          h5
            | *For insurance rating purposes, buildings for which the start of construction or substantial improvement 
            | was after December 31, 1974, or on or after the effective date of the initial FIRM for the community, whichever is later, 
            | are considered Post-FIRM construction
        select#postFIRMConstructionIndicator.form-control(name='postFIRMConstructionIndicator')
          option(value='' selected) Please Select an Option 
          option(value='1') Yes
          option(value='0') No

      div
        label(for='originalConstructionDate') originalConstructionDate:
        input#originalConstructionDate(type='date' name='originalConstructionDate')
      div
        label(for='originalConstructionTime') originalConstructionTime:
        input#originalConstructionTime(type='time' name='originalConstructionTime')
      div
        h1 Location
      .form-group
        label(for='exampleFormControlInput1') What is the latitude location of your building?
        input#latitude.form-control(type='text' placeholder='' name='latitude')
      .form-group
        label(for='exampleFormControlInput1') What is the longitude location of your building?
        input#longitude.form-control(type='text' placeholder='' name='longitude')
      .form-group
        label(for='exampleFormControlSelect2') What is the state your building is located at?
        select#propertyState.form-control(name='propertyState' )
          option(value='' selected) Please Select an Option 
          option(value='AL') AL
          option(value='AK') AK
          option(value='AZ') AZ
          option(value='AR') AR
          option(value='CA') CA
          option(value='CO') CO
          option(value='CT') CT
          option(value='DE') DE
          option(value='FL') FL
          option(value='GA') GA
          option(value='HI') HI
          option(value='ID') ID
          option(value='IL') IL
          option(value='IN') IN
          option(value='IA') IA
          option(value='KS') KS
          option(value='KY') KY
          option(value='LA') LA
          option(value='ME') ME
          option(value='MD') MD
          option(value='MA') MA
          option(value='MI') MI
          option(value='MN') MN
          option(value='MS') MS
          option(value='MO') MO
          option(value='MT') MT
          option(value='NE') NE
          option(value='NV') NV
          option(value='NH') NH
          option(value='NJ') NJ
          option(value='NM') NM
          option(value='NY') NY
          option(value='NC') NC
          option(value='ND') ND
          option(value='OH') OH
          option(value='OK') OK
          option(value='OR') OR
          option(value='PA') PA
          option(value='RI') RI
          option(value='SC') SC
          option(value='SD') SD
          option(value='TN') TN
          option(value='TX') TX
          option(value='UT') UT
          option(value='VM') VT
          option(value='VA') VA
          option(value='WA') WA
          option(value='WV') WV
          option(value='WI') WI
          option(value='WY') WY
      .form-group
        label(for='exampleFormControlInput1') What is the zip code of your building?
        input#reportedZipCode.form-control(type='text' placeholder='' maxlength='5' name='reportedZipCode')
      .form-group
        label(for='exampleFormControlInput1') What city is your building located in?
        input#reportedCity.form-control(type='text' placeholder='' name='reportedCity')
      div
        h1 Flood Information
      .form-group
        label(for='exampleFormControlInput1') What is the base flood elevation of your building in feet?
        input#baseFloodElevation.form-control(type='text' placeholder='' name='baseFloodElevation')
      .form-group
        label(for='exampleFormControlSelect2')
          | What type of NFIP flood zone are you in? (should be 3 letter string
          | based on the following below)
        input#floodZone.form-control(type='text' placeholder='' maxlength='3' name='floodZone')
        div
          ul
            li A - Special Flood with no Base Flood Elevation on FIRM
            li AE, A1-A30 - Special Flood with Base Flood Elevation on FIRM
            li A99 - Special Flood with Protection Zone
            li AH, AHB* - Special Flood with Shallow Ponding
            li AO, AOB* - Special Flood with Sheet Flow
            li
              | X, B - Moderate Flood from primary water source. Pockets of areas subject to drainage problems
            li
              | X, C - Minimal Flood from primary water source. Pockets of areas subject to drainage problems
            li D - Possible Flood
            li V - Velocity Flood with no Base Flood Elevation on FIRM
            li VE, V1-V30 - Velocity Flood with Base Flood Elevation on FIRM
            li
              | AE, VE, X - New zone designations used on new maps starting January 1, 1986, in lieu of A1-A30,
              | V1-V30, and B and C
            li
              | AR - A Special Flood Hazard Area that results from the decertification of a previously accredited
              | flood protection system that is determined to be in the process of being restored to provide base
              | flood protection
            li
              | AR Dual Zones - (AR/AE, AR/A1-A30, AR/AH, AR/AO, AR/A) Areas subject to flooding from failure of the
              | flood protection system (Zone AR) which also overlap an existing Special Flood Hazard Area as a dual
              | zone
      .form-group
        button(type='submit', id = 'submitEstimate') Get Estimate
// <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
