doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/styles.css' type='text/css')
  title Search ID
a.btn.btn-info(href='/' role='button') Home
.d-flex.justify-content-center
  #something.overflow-auto
    form(method='POST' action='/viewrecord')
      div
        h1 POLICY ID SEARCH

      .form-group
        label(for='exampleFormControlInput1')
          | Please enter the respective policyID that you would like to search for
        input#policyID.form-control(type='text' placeholder='' name='policyID' maxlength = "24" minlength = "24")
      .form-group
        button(type='submit', id = 'submitPolicyID') SUBMIT policy ID
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
