doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/styles.css' type='text/css')
  title View Record
a.btn.btn-info(href='/' role='button') Home
ul 
    for vals in queryViewRecord
        each val, key in vals
            li= key + ':  ' + val
a.btn.btn-primary(href=`/editrecord/${recordPolicyID}` role='button', id = 'editRecord') Edit Record
a.btn.btn-secondary(href=`/deleterecord/${recordPolicyID}` role='button', id = 'deleteRecord') Delete Record